<div class="card mb-1" *ngFor="let admin of admins">
    <div class="card-block row m-1 col-12">
      <div class="card-body row align-items-center">
        <div class="col-6 mt-1">
          <h6 class="card-subtitle text-muted">Username</h6>
          <a class="card-text" [routerLink]="['/admins', admin.id]">{{admin.id}}</a>
        </div>
        <div class="col-6 mt-1">
          <h6 class="card-subtitle text-muted">E-mail</h6>
          <p class="card-text">{{admin.email}}</p>
        </div>
      </div>
    </div>
  </div>
