<form id="subject-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>
    <!-- Author input -->
    <div class="form-group mb-3">
      <label class="control-label" for="author">Author</label>
      <input id="author" name="author" type="text" class="form-control" readonly [(ngModel)]="message.author">
    </div>
    <!-- About input -->
    <div class="form-group mb-3">
      <label class="control-label" for="about">About</label>
      <input id="about" name="about" type="text" class="form-control" required [(ngModel)]="message.about" #about="ngModel">
      <div class="invalid-feedback">A message about is required!</div>
    </div>
    <!-- Text input -->
    <div class="form-group mb-3">
      <label class="control-label" for="text">Message</label>
      <input id="text" name="text" type="text" class="form-control" [(ngModel)]="message.text" #text="ngModel">
    </div>
    <!-- When input -->
    <div class="form-group mb-3">
      <label class="control-label" for="when">Date</label>
      <input id="when" name="when" type="text" class="form-control" value="2022-06-19T13:08:50Z" required [(ngModel)]="message.when" #when="ngModel">
      <div class="invalid-feedback">A message date is required!</div>
    </div>
    <!--Buttons-->
    <div class="form-group fa-pull-right">
      <button id="messBtn" type="button" (click)="onCancel()"
              class="btn btn-outline-primary pull-right">Back</button>
      <button id="submit" type="submit" [disabled]="!form.form.valid"
              class="btn ms-3 btn-success pull-right">Submit</button>
    </div>
  </fieldset>
</form>
