<div class="card mb-4">
    <div class="card-block">
        <h4 class="card-title col-md-12 p-3">Review</h4>
        <div class="card-body row m-1">
            <div class="col-md-4 p-3">
                <h6 class="card-subtitle text-muted">Author</h6>
                <p class="card-text">{{reviews.author?.id}}</p>
            </div>
            <div class="col-md-4 p-3">
                <h6 class="card-subtitle text-muted">Message</h6>
                <p class="card-text">{{reviews.message}}</p>
            </div>
            <div class="col-md-4 p-3">
                <h6 class="card-subtitle text-muted">Stars</h6>
                <p class="card-text">{{reviews.stars}}</p>
            </div>
            <div class="col-md-4 p-3">
                <h6 class="card-subtitle text-muted">About</h6>
                <p class="card-text">{{reviews.about?.id}}</p>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <button id="listBtn" type="button" [routerLink]="['/reviews']" class="btn m-1 btn-outline-primary">Review List
        </button>
        <button id="editBtn" type="button" [routerLink]="['update']" class="btn m-1 btn-outline-success">Edit
        </button>
        <button id="deleteBtn" type="button" [routerLink]="['delete']" class="btn m-1 btn-outline-danger">Delete
        </button>
    </div>
</div>