<app-user-search (emitResults)="detail($event)"></app-user-search>

<div class="card mb-1" *ngFor="let user of users">
  <div class="card-block row m-1 col-12">
    <div class="card-body row align-items-center">
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Username</h6>
        <a class="card-text" [routerLink]="['/users', user.id]">{{user.id}}</a>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">E-mail</h6>
        <p class="card-text">{{user.email}}</p>
      </div>
    </div>
  </div>
</div>

<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalUsers"
                (pageChange)="changePage()"></ngb-pagination>


