<h1>Hello {{currentUsername}}! These are your requests.</h1>
<h2>
  If nothing is displayed, it means that you haven't any request yet.
</h2>

<div *ngIf="requests.length !== 0">

<p>
  Todo: corregir el buscador
</p>
<app-requests-search (emitResults)="detail($event)"></app-requests-search>

  <div class="card mb-1" *ngFor="let request of requests">
    <div class="card-block row m-1 col-12">
      <div class="card-body row align-items-center">
        <div class="col-6 mt-1">
          <h6 class="card-subtitle text-muted">Name</h6>
          <a class="card-text" [routerLink]="['/requests', request.id]">{{request.name}}</a>
        </div>
        <div class="col-6 mt-1">
          <h6 class="card-subtitle text-muted">Description</h6>
          <p class="card-text">{{request.description}}</p>
        </div>
      </div>
    </div>
  </div>

  <ngb-pagination class="d-flex justify-content-center"
                  [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalRequests"
                  (pageChange)="changePage()"></ngb-pagination>

</div>
<hr>
<p>
  Este es el boton que permite crear una request. <br>
  Esto estará en la parte de offers, cogiendo automaticamente los
  datos de esa offer y poniedolos al nuevo objeto request.
</p>


<app-requests-register>
</app-requests-register>
